<article class="relative group flex flex-row">
	<a class="insert-link" href="{{ .Permalink }}"></a>
	<figure class="aspect-video overflow-hidden rounded-xl border border-zinc-200 bg-white p-1" style="flex: 0 0 33.333333%;">

		{{- if .Params.image }}

		  {{- if (strings.HasPrefix .Params.image "http") }}

		  <img class="h-full w-full rounded-lg group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ .LinkTitle }}" style="object-fit: contain;">

		  {{- else }}

			{{- with $imglist := resources.Get .Params.image -}}
			  {{- $imglist := $imglist.Fit "444x250" -}}
			  <img class="h-full w-full rounded-lg group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imglist.Permalink }}" alt="{{ $.LinkTitle }}" width="{{ $imglist.Width }}" height="{{ $imglist.Height }}" style="object-fit: contain;">
			{{- end }}

		  {{- end }}

		{{- end }}

	</figure>
	<div class="self-center ml-4" style="flex: 1 1 0%; min-width: 0;">
		<h3 class="font-bold group-hover:underline decoration-auto">{{ .LinkTitle }}</h3>
	</div>
</article>
